@use "/src/sass/base/variables.scss" as *;
.works {
  padding-top: 60px;
  padding-bottom: 100px;
}

.works__slider {
  margin-top: 40px;
  padding-bottom: 50px;
}

.works .swiper__slide img {
  width: 100%;
}

.works .swiper-button-prev,
.works .swiper-button-next {
  display: none;
}

.works .swiper-pagination {
  bottom: 0px;
}

.works .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
