@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveAndRotate {
  0% {
    transform: translateY(0%) rotate(0deg);
  }
  50% {
    transform: translateY(-100%) rotate(100deg);
  }
  100% {
    transform: translateY(0%) rotate(360deg);
  }
}
